PORT=5000
MONGO_URI=mongodb+srv://prasannaas138_db_user:prasanna2008@cluster0.lyslh7b.mongodb.net/hostel_outpass?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
